{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans 'Home' %}{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-lg-4">
            <img class='thumbnail' src="{% static 'img/product.gif' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add To Cart</button>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style='display: inline-block; float: right'><strong>$40</strong></h4>
            </div>
        </div>

        <div class="col-lg-4">
            <img class='thumbnail' src="{% static 'img/product.gif' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add To Cart</button>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style='display: inline-block; float: right'><strong>$40</strong></h4>
            </div>
        </div>

        <div class="col-lg-4">
            <img class='thumbnail' src="{% static 'img/product.gif' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add To Cart</button>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style='display: inline-block; float: right'><strong>$40</strong></h4>
            </div>
        </div>
    </div>
{% endblock content %}