{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans 'Home' %}{% endblock %}

{% block content %}
    <div class="row">
        
        {% for product in products %}
        <div class="col-lg-4">
            {% if product.img %}
            <img class='thumbnail' src="{{ product.img.url }}">
            {% else %}
            <img class='thumbnail' src="#">
            {% endif %}
            <div class="box-element product">
                <h5><strong>{{ product }}</strong></h5>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add To Cart</button>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style='display: inline-block; float: right'><strong>${{ product.price|floatformat:2 }}</strong></h4>
            </div>
        </div>
        
        {% endfor %} 

    </div><br>
{% endblock content %}